@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

/*global settings*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}

html,
body {
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
}

.fa-solid{
    color: white;
}

.icons{
    font-size: 15pt;
    border: solid 2px lightgray;
    padding: 5px 10px;
}

.button{
    border: solid 2px lightgray;
    padding: 5px 10px;
    background-color: black;
    border-radius: 0px;
}

.button2{
    border: solid 1px lightgray;
    padding: 5px 5px;
    background-color: #212529;
    border-radius: 0px;
    font-size: 8pt;
    color: white;
    width: 100px;
}

#logo-netflix{
    width: 100px;
}

.user-icon{
    width: 30px;
    height: 30px;
}

.dropdown-item:hover{
    color: black!important;
}

.bi{
    color: white;
}

/*regole per spostare le frecce all'esterno del carosello*/

.carousel-control-prev {
    width: 35px;
    height: 35px;
    top:40%;
    transform: translateX(-15px);
}
.carousel-control-next {
    width: 35px;
    height: 35px;
    top:40%;
    transform: translateX(15px);
}


/*regole per animazione sulla card al passaggio del mouse*/
.card {
    cursor: pointer;
    transition: transform 0.3s ease;
    position: relative;
    border: none;
}

.card:hover {
    transform: scale(1.1);
    z-index: 1;
  }
/*regola per rendere la card all'hover più grande rispetto al box contenitore*/
.carousel-inner {
    overflow: visible;
}

.footer-text{
    font-size: 8pt;
}

.footer-div{
    padding: 0!important;
    margin: 0!important;
    width: 150px;
}

/*media query per gestione carosello responsive*/
@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

    .carousel-inner .carousel-item.active,
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
    display: flex;
}

@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}

/*regole per non mostrare le section e farle così apparire al momento giusto dello scroll tramite funzione js*/

#newReleases{
    display: none;
}